extends _base

block var
  - var title = 'Management'

block content
  .container
    .panel.panel-info
      .panel-heading
        h3.panel-title Overview
      .panel-body
        p Node version: #{data.versions.node}
        p v8 version: #{data.versions.v8}
        p Platform: #{data.platform}, Arch: #{data.arch}
        p Number of registered people: #{data.db.length}
        p Current mode: #{env}

  .container
    .panel.panel-info
      .panel-heading
        h3.panel-title Users
      .panel-body
        .table-responsive
          table.table.table-hover.mana-table
            thead
              th Google ID
              th Library login name
              th Enabled renew?
              th Admin?
            tbody
              for people in data.db
                tr.clickable-row(data-href=url('mana.getUser', {user: people.googleID}))
                  td= people.googleID
                  if people.libraryLogin
                    td= people.libraryLogin
                  else
                    td: i Undefined
                  td: +tickCross(people.renewEnabled)
                  td: +tickCross(people.isAdmin)
