extends _base

block var
  - var title = 'Information for ' + name

block content
  .container
    .panel.panel-info
      .panel-heading
        h3.panel-title Overview
      .panel-body
        p Name: #{name}
        p GoogleID: #{data.googleId}
        p Is admin? #[span: +tickCross(data.isAdmin)]
        p Enabled renew? #[span: +tickCross(data.renewEnabled)]
        if data.libraryLogin
          p Library login ID: #{data.libraryLogin}
        else
          p Library login ID: #[i undefined]
        p Calendar name: #{data.calendarName}
        p Renew date: #{data.renewDate}
        
  .container
    .panel.panel-info
      .panel-heading
        h3.panel-title Edit
      .panel-body
        .alert.alert-warning.fade.in(role='alert')
          p Editing this will be logged in system. Think carefully.
        //- TODO Make it a form
        form.form-horizontal(data-async, action=url('mana.postUser', {user: data.googleId}), method='POST', validator='mana')
          fieldset

            +form_togglebutton('Enable auto renew', 'renewEnabled', data.renewEnabled)
            
            +form_input('Library login', 'libraryLogin', data.libraryLogin, '', 'text')
            +form_input('Library password', 'libraryPassword', '', '', 'password')
            +form_input('Renew at', 'renewDate', data.renewDate, 'Renew at "n" days before due date, where n is the number you have typed above. Must between 2 and 13', 'number')
            +form_input('Google calendar name', 'calendarName', data.calendarName, 'Read warning above!', 'text')
            
            +form_togglebutton('Is admin?', 'isAdmin', data.isAdmin)
            +form_submit('Submit')
        
  +showLog(data.logs)
